.searchForm{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchTextField{
    flex-grow: 1;
}

.workoutList{
    display:flex;
    gap: 10px;
    flex-flow: row wrap;
    padding: 0;
}
