
.workoutDetails {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}

.details{
    text-align: left;
}

.workoutDetails h3 {
    margin-top: 0;
}

.workoutDetails p {
    margin-bottom: 10px;
}