.edit-workout-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.edit-workout-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.edit-workout-container p {
    margin-bottom: 20px;
}

.edit-workout-container form label {
    display: block;
    margin-bottom: 10px;
}

.edit-workout-container form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-workout-container form button {
    padding: 10px 20px;
    background-color: darkslategray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-workout-container form button:hover {
    background-color: darkslategray;
}
.nav {
    background-color: lightsteelblue;
    padding: 10px;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 0;
}

.nav a {
    display: block;
    color: black;
    text-decoration: none;
}
.ul {
    font-size: 22px;
}
.container {
    text-align: center;
}

.workoutDetails {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.workoutDetails h3 {
    margin-top: 0;
}

.workoutDetails p {
    margin-bottom: 10px;
}

.workoutDetails button {
    margin-right: 10px;
    background-color: darkslategray;
}

.body{
    font-family: Arial;
}
.homepage{
    margin: 60px;
    font-size: large;
    font-family: Bahnschrift;
}
