.container {
    padding-top: 60px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}


body{
    font-family: Arial,sans-serif;
    margin: 0;
}
.homepage{
    margin: 120px 60px 60px 60px;
    font-size: large;
}

.mainPage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    row-gap: 20px;
}

button {
    background-color: darkslategray;
    color: #fff;
    padding: 12px 20px;
    margin: 5px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.workoutDetails .deleteButton{
    background-color: darkred;
    color: #fff;
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.workoutDetails .deleteButton:hover{
    background-color: red;
}
button:hover {
    background-color: #4caf50;
}